doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Box Street
        link(rel='stylesheet' href='/css/style.css')

    body 
        section
            h1 Transaction Details
            .container
                p Email: #{email}
                p Amount: #{amount}
                p Status: #{status}
                - const convertDate = new Date(date).toDateString()
                p Paid At: #{convertDate}
                p TransactionId: #{transactionId}
                .link 
                    a(href=#{route}) Booking history
